@font-face {
 font-family: 'Hubballi', cursive;
 src: url(https://fonts.googleapis.com/css2?family=Hubballi&display=swap);
} 
* {
 background-color: #0a4b78;
 color: whitesmoke;
 font-family: 'Hubballi', cursive;;
 box-sizing: border-box
}

body{
 margin:0px;
 margin-top:60px;
 margin-right: auto;
 margin-left: auto;
 padding-top: 20px;
}
nav{
 display: flex;
 position: fixed;
 top:0;
 width: 100%;
 background-color: #1d2327;
 overflow: auto;
 height: auto;
 margin-bottom: 10px;
 padding: 5px;
}
.left-links{
 flex:1 1 200px;
}
.links {
 display: inline-block;
 background-color: #1d2327;
 text-align: center;
 padding: 14px;
 color: whitesmoke;
 text-decoration: none;
 font-size: 17px;
 font-weight: bolder;
}
.links:hover {
 border-bottom: 2px solid whitesmoke;
}

.selected {
 border-bottom: 2px solid whitesmoke;
}

div.left-links, .right-links {
 background-color: #1d2327;
}

.bi {
 background-color: #1d2327;
 color: white;
 margin-top: 8px;
 margin-left: 5px;
}
 
form {
 border:1px solid #ccc;
 background-color: #1d2327;
}

  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

button {
  background-color: #0a4b78;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

.container {
 background-color: #50575e;
  padding: 16px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.blank {
 background-color: #50575e;

}

name {
 background-color: #50575e;
}

@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}